// import bootstrap 
@import '~bootstrap/scss/bootstrap';

// import Open Sans font from Google
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: #000;
  color: #fff;
  padding:5% 10%;
}

h1, h4 {
  display: flex;
  text-align: center;
}

#sign-out {
  display: flex;
  margin-top: 5%;
 //  justify-content: center;
  // align-items: center;
}

.row-1, #sign-up, #sign-in, #new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-bottom: 3%;
}

.submit {
  margin-top: 5%;
}

.players {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.gameboard .result { 
  padding-top: 10%; 
  display: block;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.box {
  align-items: center;
  background-color: #fff;
  color: #ffc40a;
  display: flex;
  height: 120px;
  width:120px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 100px;
  justify-content: center;
  margin:2px;
  border-radius:5px;
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.9) ;
}

.result-box {
  background-color:#fff;
  color:#000;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%
}

.result-box .winner {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#replay {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}